@model CampaignCommander.Data.Campaign

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampaignName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampaignDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameMaster.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CampaignID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
